Repository danieleschmidt/provenance-graph-sbom-linker: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test, go-build, security-scan, license-check, sbom-generation

Path conditions:
  go-test: any of: \.go$
  go-build: any of: \.go$
  security-scan: any of: \.go$
  license-check: any of: go\.(mod|sum)$
  sbom-generation: any of: go\.(mod|sum)$

feat(security): add advanced security threat detection middleware
  cmd/server/main.go
  go.mod
  internal/config/config.go
  internal/middleware/metrics.go
  internal/middleware/middleware.go
  internal/middleware/security_enhanced.go
  pkg/autoscaling/autoscaler.go
  pkg/errors/circuit_breaker.go
  pkg/loadbalancer/loadbalancer.go
  pkg/monitoring/self_healing.go
  pkg/optimization/intelligent_optimization.go
  pkg/optimization/pools.go
  pkg/optimization/predictive_scaling.go
  pkg/pipeline/anomaly_detection.go
  pkg/pipeline/health_extension.go
  pkg/pipeline/self_healing_pipeline.go
  pkg/security/advanced_threat_detection.go
  pkg/validation/enhanced_validation.go
Due: go-test, go-build, security-scan, license-check, sbom-generation

feat(security): add advanced security threat detection middleware (#67)
  cmd/server/main.go
  go.mod
  internal/config/config.go
  internal/middleware/metrics.go
  internal/middleware/middleware.go
  internal/middleware/security_enhanced.go
  pkg/autoscaling/autoscaler.go
  pkg/errors/circuit_breaker.go
  pkg/loadbalancer/loadbalancer.go
  pkg/monitoring/self_healing.go
  pkg/optimization/intelligent_optimization.go
  pkg/optimization/pools.go
  pkg/optimization/predictive_scaling.go
  pkg/pipeline/anomaly_detection.go
  pkg/pipeline/health_extension.go
  pkg/pipeline/self_healing_pipeline.go
  pkg/security/advanced_threat_detection.go
  pkg/validation/enhanced_validation.go
Due: go-test, go-build, security-scan, license-check, sbom-generation

feat(autonomous-sdlc): implement complete autonomous SDLC with intelligent features
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  DEPLOYMENT_INSTRUCTIONS.md
  deploy/production/deploy-production.sh
  internal/handlers/artifact.go
  internal/handlers/provenance.go
  pkg/intelligence/adaptive_optimization.go
  pkg/reliability/health_monitoring.go
  pkg/resilience/advanced_circuit_breaker.go
  pkg/scaling/intelligent_autoscaler.go
  scripts/comprehensive-quality-gates.sh
  scripts/quick-quality-gates.sh
Due: go-test, go-build, security-scan

feat(autonomous-sdlc): implement complete autonomous SDLC with intelligent features (#69)
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  DEPLOYMENT_INSTRUCTIONS.md
  deploy/production/deploy-production.sh
  internal/handlers/artifact.go
  internal/handlers/provenance.go
  pkg/intelligence/adaptive_optimization.go
  pkg/reliability/health_monitoring.go
  pkg/resilience/advanced_circuit_breaker.go
  pkg/scaling/intelligent_autoscaler.go
  scripts/comprehensive-quality-gates.sh
  scripts/quick-quality-gates.sh
Due: go-test, go-build, security-scan

feat(research-framework): add AI-enhanced zero-trust provenance framework with novel research
  AUTONOMOUS_SDLC_RESEARCH_COMPLETION_REPORT.md
  RESEARCH_PAPER.md
  cmd/server/main.go
  pkg/blockchain/immutable_provenance.go
  pkg/intelligence/sac_rainbow_security.go
  pkg/mlbom/advanced_mlbom.go
  pkg/research/integration.go
  pkg/temporal/predictive_provenance.go
Due: go-test, go-build, security-scan

feat(research-framework): add AI-enhanced zero-trust provenance framework with novel research (#77)
  AUTONOMOUS_SDLC_RESEARCH_COMPLETION_REPORT.md
  RESEARCH_PAPER.md
  cmd/server/main.go
  pkg/blockchain/immutable_provenance.go
  pkg/intelligence/sac_rainbow_security.go
  pkg/mlbom/advanced_mlbom.go
  pkg/research/integration.go
  pkg/temporal/predictive_provenance.go
Due: go-test, go-build, security-scan

feat: Claude Code automated enhancements
  .github/workflows/ci.yml
  CLAUDE_IMPROVEMENTS.md
  README_ENHANCED.md
  src/errors/handler.js
  src/monitoring/health.js
Due: none

feat: Claude Code automated enhancements (#79)
  .github/workflows/ci.yml
  CLAUDE_IMPROVEMENTS.md
  README_ENHANCED.md
  src/errors/handler.js
  src/monitoring/health.js
Due: none

feat: implement SBOM provenance graph with cryptographic attestation
  cmd/benchmark/main.go
  cmd/integration-test/main.go
  cmd/simple-minimal-server/main.go
  cmd/simple-server/main.go
  cmd/standalone/main.go
  demo-provenance-graph.json
  internal/handlers/artifact_test.go
  internal/security/threat_detector.go
  internal/validation/advanced_validator.go
  main.go
  pkg/database/pool.go
  pkg/research/integration.go
  pkg/resilience/advanced_circuit_breaker.go
  pkg/scaling/intelligent_autoscaler.go
  sample-cyclonedx.json
  test/integration/api_test.go
  test/integration/e2e_test.go
Due: go-test, go-build, security-scan
