Repository danieleschmidt/provenance-graph-sbom-linker: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-test, go-build, security-scan, license-check, sbom-generation

go-test:
  name: go test
  entry: make test-unit
  language: system
  pass_filenames: false

go-build:
  name: go build
  entry: make build
  language: system
  pass_filenames: false

security-scan:
  name: security scan
  entry: make security-scan
  language: system
  pass_filenames: false

license-check:
  name: license check
  entry: scripts/check-licenses.sh
  language: script
  pass_filenames: false

sbom-generation:
  name: SBOM generation
  entry: scripts/generate-sbom.sh
  language: script
  pass_filenames: false

feat: optimize and modernize advanced SDLC infrastructure
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/security_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  GOVERNANCE.md
  scripts/performance-benchmark.sh
Due: none

docs: add workflow implementation guide and reorganize workflow files
  .github/workflows/ci.yml
  .github/workflows/security.yml
  docs/workflows/IMPLEMENTATION_GUIDE.md
  workflows/ci.yml
  workflows/performance.yml
  workflows/release.yml
  workflows/security.yml
Due: none

feat(sdlc): add comprehensive SDLC enhancements and deployment configs
  .hadolint.yaml
  .license-header.txt
  .trivyignore
  SDLC_ENHANCEMENT_SUMMARY.md
  deploy/kubernetes/configmap.yaml
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/ingress.yaml
  deploy/kubernetes/namespace.yaml
  deploy/kubernetes/rbac.yaml
  deploy/kubernetes/secret.yaml
  deploy/kubernetes/service.yaml
  docs/workflows/CI_CD_IMPLEMENTATION.md
  scripts/check-licenses.sh
  scripts/generate-sbom.sh
Due: none

feat: implement foundational Go application architecture
  cmd/cli/main.go
  cmd/server/main.go
  config/config.example.yaml
  go.mod
  internal/api/routes.go
  internal/cli/commands.go
  internal/config/config.go
  internal/config/config_test.go
  internal/database/neo4j.go
  internal/handlers/artifact.go
  internal/handlers/compliance.go
  internal/handlers/provenance.go
  internal/handlers/sbom.go
  internal/handlers/version.go
  internal/handlers/version_test.go
  internal/middleware/security.go
  internal/version/version.go
  internal/version/version_test.go
Due: go-test, go-build, security-scan, license-check, sbom-generation

feat: implement autonomous SDLC value discovery system
  .terragon/config.yaml
  .terragon/value-metrics.json
  docs/BACKLOG.md
  docs/workflows/AUTONOMOUS_EXECUTION.md
  performance/optimization-policy.yaml
  scripts/autonomous-value-discovery.sh
  security/sbom-policy.yaml
  security/slsa-policy.yaml
Due: none

docs: establish project foundation and community files
  docs/adr/README.md
  docs/guides/deployment-guide.md
  docs/guides/user-guide.md
Due: none

feat: setup development environment and code quality tools
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  Dockerfile.dev
  docker-compose.dev.yml
  observability/prometheus-dev.yml
Due: none

test: establish comprehensive testing infrastructure
  test/config/test-config.yaml
  test/scripts/run-tests.sh
  test/testutil/factories.go
  test/testutil/setup.go
Due: go-test, go-build, security-scan

build: enhance containerization and build automation
  .releaserc.json
Due: none

feat: implement comprehensive monitoring and observability infrastructure
  observability/alerting-runbooks.md
  observability/monitoring-setup.sh
  observability/security-monitoring.yaml
  observability/slo-config.yaml
Due: none

docs: implement comprehensive workflow documentation and templates
  docs/templates/ARCHITECTURE_DECISION_RECORD_TEMPLATE.md
  docs/templates/INCIDENT_RESPONSE_TEMPLATE.md
  docs/templates/RELEASE_CHECKLIST_TEMPLATE.md
  docs/templates/SECURITY_REVIEW_TEMPLATE.md
  docs/workflows/DEVELOPMENT_WORKFLOWS.md
  docs/workflows/WORKFLOW_INDEX.md
  scripts/workflow-automation.sh
Due: none

feat: implement comprehensive metrics collection and automation systems
  metrics/kpi-dashboard.yaml
  metrics/metrics-collection.yaml
  scripts/automation-engine.sh
  scripts/performance-benchmarks.sh
Due: none

feat: complete system integration and final configuration
  SYSTEM_INTEGRATION_GUIDE.md
  deploy/integration-config.yaml
  scripts/system-deployment.sh
  scripts/system-validation.sh
Due: none

docs: establish enhanced project foundation and governance
  .github/CODEOWNERS
  docs/adr/0002-event-driven-architecture.md
  docs/adr/0003-cryptographic-verification-strategy.md
  docs/adr/0004-multi-tenancy-and-isolation.md
  docs/adr/README.md
Due: none

feat: enhance development environment and VS Code configuration
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
Due: none

test: enhance testing infrastructure with fixtures and benchmarks
  test/fixtures/sbom/README.md
  test/performance/benchmark_test.go
Due: go-test, go-build, security-scan

build: add comprehensive build automation with security features
  scripts/build.sh
Due: none

docs: add comprehensive GitHub Actions workflow templates and setup guide
  docs/workflows/MANUAL_SETUP_GUIDE.md
  docs/workflows/templates/ci.yml.template
  docs/workflows/templates/dependency-update.yml.template
  docs/workflows/templates/security-scan.yml.template
Due: none

docs: complete SDLC implementation with comprehensive summary and setup guide
  IMPLEMENTATION_SUMMARY.md
  docs/SETUP_REQUIRED.md
Due: none

Update README.md
  README.md
Due: none

feat(autonomous-sdlc): complete end-to-end provenance tracking implementation
  Dockerfile
  Makefile
  cmd/cli/main.go
  cmd/server/main.go
  deploy/kubernetes/deployment.yaml
  docs/API.md
  docs/DEPLOYMENT.md
  go.mod
  internal/api/routes.go
  internal/cli/commands.go
  internal/database/neo4j.go
  internal/handlers/artifact.go
  internal/handlers/artifact_test.go
  internal/middleware/security.go
  pkg/cache/redis.go
  pkg/crypto/signing.go
  pkg/logger/logger.go
  pkg/monitoring/metrics.go
  pkg/types/types.go
  pkg/validation/validation.go
  pkg/validation/validation_test.go
  pkg/worker/pool.go
  test/integration/api_test.go
Due: go-test, go-build, security-scan, license-check, sbom-generation

feat(autonomous-sdlc): complete end-to-end provenance tracking implementation (#35)
  Dockerfile
  Makefile
  cmd/cli/main.go
  cmd/server/main.go
  deploy/kubernetes/deployment.yaml
  docs/API.md
  docs/DEPLOYMENT.md
  go.mod
  internal/api/routes.go
  internal/cli/commands.go
  internal/database/neo4j.go
  internal/handlers/artifact.go
  internal/handlers/artifact_test.go
  internal/middleware/security.go
  pkg/cache/redis.go
  pkg/crypto/signing.go
  pkg/logger/logger.go
  pkg/monitoring/metrics.go
  pkg/types/types.go
  pkg/validation/validation.go
  pkg/validation/validation_test.go
  pkg/worker/pool.go
  test/integration/api_test.go
Due: go-test, go-build, security-scan, license-check, sbom-generation

feat(api): add comprehensive features for artifact, provenance, SBOM, compliance, caching, logging, validation, and worker pool
  .provenance.json
  cmd/server/main.go
  go.mod
  go.sum
  internal/api/routes.go
  internal/database/neo4j.go
  internal/errors/errors.go
  internal/handlers/artifact.go
  internal/handlers/compliance.go
  internal/handlers/provenance.go
  internal/handlers/sbom.go
  internal/handlers/version.go
  internal/middleware/validation.go
  pkg/cache/distributed.go
  pkg/cache/redis.go
  pkg/logger/structured.go
  pkg/monitoring/metrics.go
  pkg/monitoring/performance.go
  pkg/validation/security.go
  pkg/validation/validation.go
  pkg/validation/validation_test.go
  pkg/worker/concurrent.go
  pkg/worker/pool.go
  spdx-sbom.json
  test-sbom.json
  test/integration/api_test.go
  test/performance/benchmark_test.go
  test/testutil/setup.go
Due: go-test, go-build, security-scan, license-check, sbom-generation

feat(api): add comprehensive features for artifact, provenance, SBOM, compliance, caching, logging, validation, and worker pool (#36)
  .provenance.json
  cmd/server/main.go
  go.mod
  go.sum
  internal/api/routes.go
  internal/database/neo4j.go
  internal/errors/errors.go
  internal/handlers/artifact.go
  internal/handlers/compliance.go
  internal/handlers/provenance.go
  internal/handlers/sbom.go
  internal/handlers/version.go
  internal/middleware/validation.go
  pkg/cache/distributed.go
  pkg/cache/redis.go
  pkg/logger/structured.go
  pkg/monitoring/metrics.go
  pkg/monitoring/performance.go
  pkg/validation/security.go
  pkg/validation/validation.go
  pkg/validation/validation_test.go
  pkg/worker/concurrent.go
  pkg/worker/pool.go
  spdx-sbom.json
  test-sbom.json
  test/integration/api_test.go
  test/performance/benchmark_test.go
  test/testutil/setup.go
Due: go-test, go-build, security-scan, license-check, sbom-generation

feat(cli): add comprehensive CLI runtime implementations
  .provenance.json
  benchmark_test.go
  gen2-test-sbom.json
  go.mod
  go.sum
  internal/cli/runtime.go
  internal/config/enhanced_config.go
  internal/database/neo4j.go
  internal/errors/errors.go
  internal/handlers/provenance.go
  internal/middleware/security.go
  pkg/discovery/service_registry.go
  pkg/loadbalancer/round_robin.go
  pkg/monitoring/metrics.go
  pkg/testing/testhelpers.go
  pkg/validation/security.go
Due: go-test, go-build, security-scan, license-check, sbom-generation

feat(cli): add comprehensive CLI runtime implementations (#37)
  .provenance.json
  benchmark_test.go
  gen2-test-sbom.json
  go.mod
  go.sum
  internal/cli/runtime.go
  internal/config/enhanced_config.go
  internal/database/neo4j.go
  internal/errors/errors.go
  internal/handlers/provenance.go
  internal/middleware/security.go
  pkg/discovery/service_registry.go
  pkg/loadbalancer/round_robin.go
  pkg/monitoring/metrics.go
  pkg/testing/testhelpers.go
  pkg/validation/security.go
Due: go-test, go-build, security-scan, license-check, sbom-generation

feat(self-healing): implement complete self-healing pipeline guard system with production deployment
  PRODUCTION_DEPLOYMENT_COMPLETE.md
  cmd/server/main.go
  deployments/docker/Dockerfile.production
  deployments/docker/docker-compose.production.yml
  deployments/docker/healthcheck.sh
  deployments/scripts/deploy.sh
  internal/config/dynamic_config.go
  internal/handlers/self_healing.go
  pkg/autoscaling/intelligent_scaler.go
  pkg/cache/performance_cache.go
  pkg/concurrency/resource_pool.go
  pkg/errors/advanced_error_handler.go
  pkg/loadbalancer/intelligent_loadbalancer.go
  pkg/monitoring/self_healing_metrics.go
  pkg/pipeline/anomaly_detection.go
  pkg/pipeline/self_healing.go
  pkg/security/threat_detection.go
  scripts/integration_tests.sh
  scripts/validate_quality_gates.sh
Due: go-test, go-build, security-scan

feat(self-healing): implement complete self-healing pipeline guard system with production deployment (#53)
  PRODUCTION_DEPLOYMENT_COMPLETE.md
  cmd/server/main.go
  deployments/docker/Dockerfile.production
  deployments/docker/docker-compose.production.yml
  deployments/docker/healthcheck.sh
  deployments/scripts/deploy.sh
  internal/config/dynamic_config.go
  internal/handlers/self_healing.go
  pkg/autoscaling/intelligent_scaler.go
  pkg/cache/performance_cache.go
  pkg/concurrency/resource_pool.go
  pkg/errors/advanced_error_handler.go
  pkg/loadbalancer/intelligent_loadbalancer.go
  pkg/monitoring/self_healing_metrics.go
  pkg/pipeline/anomaly_detection.go
  pkg/pipeline/self_healing.go
  pkg/security/threat_detection.go
  scripts/integration_tests.sh
  scripts/validate_quality_gates.sh
Due: go-test, go-build, security-scan

Path conditions:
  go-test: any of: \.go$
  go-build: any of: \.go$
  security-scan: any of: \.go$
  license-check: any of: go\.(mod|sum)$
  sbom-generation: any of: go\.(mod|sum)$
